@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid green; */
}

body{
    color: white;
    font-family: 'Playfair Display', serif;
}
/* utility classes */
.section{
 /* max-width: 1200px;
 margin: auto;
 padding: 20px; */
}
.container{
     max-width: 1200px;
 margin: auto;
 padding: 20px;
}
.title {
   font-size: 25px;
   margin-bottom: 20px;
}
.title2{
    color: black;
}
.section_title{
    background-image: linear-gradient(to right bottom, #4376c3, #536dd1, #725ed9, #9746d7, #bd00cb);
            background-clip: text;
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 background-size: 200%;
 -webkit-background-size: 200%;
 text-align: center;
}
.description{
    font-size: 20px;
    margin-bottom: 20px;
}

.btn{
    padding: 5px 20px;
    background-image: linear-gradient(to right bottom, #4376c3, #3965bd, #3654b6, #3941ac, #3f2ba0);
   border: 1px solid white;
   border-radius: 30px;
}

.btn2{
    padding: 10px 20px;
    /* border: 1px solid red; */
    display: inline-block;
    background-image: linear-gradient(to right bottom, #4376c3, #3965bd, #3654b6, #3941ac, #3f2ba0);
}
.text-center{
    text-align: center;
}
.gradient-text {
    background-image: radial-gradient(circle, #000000, #380023, #5f0056, #6d00a0, #0022ff);
  
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200%;
    -webkit-background-size: 200%;
    text-align: center;
    /* background-position: left;
    animation: gradient 5s ease-in-out infinite;
    -webkit-animation: gradient 5s ease-in-out infinite; */
  }
  
  /* @keyframes gradient {
    0% {
      background-position: left;
    }
    100% {
      background-position: right;
    }
  } */
@media only screen and (min-width: 780px) {
    .title {
        font-size: 30px;
        margin-bottom: 20px;
     }
    .description{
        max-width: 600px;
    }
}

/* Nav bar */
.logo {
    font-size: 20px;
}

.nav_close_icon img{
  width: 30px;
  height: 30px;
}
.nav_menu_icon img{
    width: 30px;
    height: 30px;
}
.navbar{
    max-width: 1200px;
    margin: auto;
}
.nav_section{
   padding-block: 15px;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
  padding-inline: 20px;
  transition: background-color 0.3s ease;
}
.nav_section.scrolled {
    background-image: linear-gradient(to right bottom, #4376c3, #536dd1, #725ed9, #9746d7, #bd00cb);
      /* Background color when scrolled */
    /* Other styles for the scrolled state */
    animation: fade-in 0.3s ease forwards;
  }
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
.nav_close_icon{
    display: none;
}
.menu_list{
    display: none;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mobile_nav_menu{
  display: none;
}
.desktop_nav_menu {
    display: none;
    

} 
.desktop_nav_menu a{
  font-size: 18px;

}
.mobile_nav_menu a{
    font-size: 30px;
}
.mobile_nav_menu ul{
    display: flex;
    align-items: start;
    gap: 20px;
    flex-direction: column;
    z-index: 1000;
}
.open {
    position: absolute;
    top: 0px;
    right: 0px;
    
    height: 100vh;
    width: 70%;
     backdrop-filter: blur(30px);  
    background-color: rgba(144, 130, 130, 0.8); 
        display: flex;
    padding-top: 100px; 
    justify-content: center;
 

    /* align-items: center; */

}
nav ul{
    list-style: none;
}
nav a{
    text-decoration: none;
    color: white;

}
.nav_close_icon{
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 100;
}
.desktop_nav_menu ul{
  display: flex;
  gap: 30px;
}

@media only screen and (min-width: 780px) {
    .desktop_nav_menu a{
        font-size: 20px;
      
      }
    .logo {
        font-size: 25px;
    }
   .mobile_nav_menu{
    display: none;
   }
   .nav_menu_icon{
    display: none;
   }
   .desktop_nav_menu{
    display: block;
   }
}

@media only screen and (min-width: 900px) {
    .desktop_nav_menu a{
        font-size: 23px;
      
      }
    .logo {
        font-size: 27px;
    }
    .navbar{
        /* max-width: 1200px;
        margin: auto; */
        padding-inline: 30px;
    }
}

/* Hero Section */
#hero{
    background-image: linear-gradient(to right bottom, #051937, #192b6c, #4c379f, #8f37cb, #dc12eb);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
}
.hero{
    padding-top: 100px;
}
.hero_right img{
    width: 100%;
    height: auto;
    object-fit: cover;
    max-width: 400px;
}

@media only screen and (min-width: 780px) {
    .hero{
        display: flex;
        height: 100vh;
        padding-top: 0;
        /* justify-content: center; */
        align-items: center;
    }
    .hero_right img{
        max-width: 700px;

    }
}
@media only screen and (min-width: 900px) {
    .hero{
        display: flex;
        height: 100vh;

    }
  
}
/* Features Section */
#features{
    height: 100vh;
}
.features{
    color: black;
   margin-block: 20px;

}
.feature_card{
    padding: 10px;
    margin-block: 10px;
    margin-inline: auto;
    width: 100%;
    /* height: 200px; */
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.features p{
    font-size: 15px;
    margin-bottom: 10px;
    line-height: 30px;
    text-align: center;
}
.features h1{
    margin-bottom: 10px;
}
.features img{
  width: 300px;
  height: 400px;
}
@media only screen and (min-width: 900px) {
  .feature_cards{
    display: flex;
  }
}

/* products style */

.products{
    
}
.products {
    text-align: center;
    height: 100vh;
}

.products .title{
    font-size: 23px;
}
.products img{
    /* width: 300px; */
    width: 100%;
    height: 300px;
    object-fit: contain;
}
.products .cards{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.products .card{

    /* border: 1px solid red; */
    /* background-color: #fff; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    position: relative;

}

.products .card::before{
    content: "";
    background-color: rgb(75, 75, 222,0.3);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleY(0);
    transform-origin: 50% 100%;
    transition: transform 0.5s ease;
}
.products .card:hover::before{
    transform: scaleY(1);

}
.card_title{
    /* border: 1px solid red; */
    background-image: linear-gradient(to right bottom, #4376c3, #3965bd, #3654b6, #3941ac, #3f2ba0);
    color: white;
    position: relative;
    padding: 0;
    margin: 0;
}
@media only screen and (min-width: 900px) {
    .products .cards{
        flex-direction: row;
    }
  }